html {
    color: #000;
}

body {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


#BODY {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}


.label { opacity: .5; }

div.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div.flex.column {
  flex-direction: column;
}
