div.tfw-view-textarea.view.soin-view-structure-control {
    width: 90vw;
    height: 70vh;
    width: calc(100vw - 64px);
    height: calc(100vh - 200px);
}

div.soin-view-structure-control-table {
    display: table;
}

div.soin-view-structure-control-table > div {
    display: table-row;
}

div.soin-view-structure-control-table > div > div {
    display: table-cell;
    text-align: left;
    padding: 2px 6px;
    vertical-align: top;
    font-family: monospace;
}
